<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="../static/images/BTC-logo.svg"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    <title>{{ title }} | CryptoTracker</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/base.css') }}">
    {% block style %}
    {% endblock %}
</head>
<body>
{% include "navbar.html" %}
{% block main %}
{% endblock %}
</body>
</html>