{% block style %}
    <script src="{{ url_for('static', filename='javascript/menu.js') }}" defer></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/navbar.css') }}">
{% endblock %}

<header class="header">
    <nav class="navbar white">
        <a href="/" class="text-m-color nav-logo">CryptoTracker</a>
        <ul class="nav-menu">
            {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a href="{{ url_for('auth.logout') }}" class="nav-link">Logout</a>
                </li>
            {% endif %}
            {% if not current_user.is_authenticated %}
                <li class="nav-item">
                    <a href="{{ url_for('auth.login') }}" class="nav-link text-gray">Login</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('auth.signup') }}" class="nav-link text-gray">Signup</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a href="{{ url_for('main.prices') }}" class="nav-link text-gray">Prices</a>
            </li>
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
</header>
