{% extends "base.html" %}

{% block style %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/auth.css') }}">
{% endblock %}

{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
    </div>
{% endif %}
{% endwith %}

<form method="POST" action="/signup">

{% block main %}
<div class="container">
    <h2 class="text-center">Sign Up</h2>
    <form class="form-container" method="POST" action="/signup">
        <div>
            <input type="email" name="email" placeholder="Email" autofocus="">
        </div>

        <div>
            <input type="text" name="name" placeholder="Name">
        </div>

        <div>
            <input type="password" name="password" placeholder="Password">
        </div>
        <div>
            <button class="form-button">Sign Up</button>
        </div>
    </form>
</div>
{% endblock %}